<h1> Wszystkie wydarzenia</h1>
<p></p>
<div class="list-group">
  <% for event in @events %>
    <%= link_to event.artist, "/events/#{event.id}", :class => "list-group-item list-group-item-action list-group-item-primary" %>
  <% end %>

</div>
<p></p>
<div>
  <% if user_signed_in? %>
    <%= link_to 'Nowe ogłoszenie', events_new_path, :class => "btn btn-primary" %>
  <% end %>
  <%= link_to 'Cofnij', "/", :class => "btn btn-primary" %>
</div>
